<h1 class="head_contact_us">CONTACT US</h1>
<div class="contact_us_block">
    <div class="map_wrapper">
        <div id="map"></div>
    </div>
    <div class="right_block">
        <div class="info">
            <p>Our story began in 2001 in a small studio in the middle of nowhere. With only one desk and next to no free time, our brand was born. Our passion for unique design and collaboration brought our vision, and products, to life.</p>
            <p>Our products bring together the finest materials and stunning design to create something very special. We believe in quality, care, and creating unique products that everyone can enjoy. Colorful, creative, and inspired by what we see everyday, each product represents what we love about the world we live in. </p>
        </div>
        <div class="contact_info">
            <h2>Our address</h2>
            <div>
                <div>
                    <div class="address">
                        <p>Miskevycha Square, 14,</p>
                        <p>Lviv,</p>
                        <p>Ukraine</p>
                    </div>
                    <div class="contacts">
                        <p>Call: +44 (0) 800 123 4567</p>
                    </div>
                </div>

                <div class="opening_hours">
                    <p>Mon - Fri, 10am - 9pm</p>
                    <p>Saturday, 11am - 9pm</p>
                    <p>Sunday, 11am - 5pm</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="question_block">
    <div class="wrapper">
        <p>Do you have a question? A suggestion? Feel free to contact us and we will be happy to help you!</p>
        <form action="">
            <div class="user_info">
                <input type="text" name="username" placeholder="Your name">
                <input type="text" name="email" placeholder="Your email">
            </div>
            <textarea name="" id="" cols="30" rows="8" placeholder="Your message"></textarea>
            <input id="sendMessage" class="pink_button" type="button" value="Send my message">
        </form>
    </div>
</div>
