<div class="customer_information_wrapper">
    <div class="contact_information_wrapper">
        <div class="logo">
            <h3>Loren</h3>
        </div>
        <ul class="payment_links">
            <li><a href="#!/cart" class="pink_basic">Cart</a>&nbsp;&gt;&nbsp;</li>
            <li><a href="#!/customer_information" class="pink_basic">Customer information</a>&nbsp;&gt;&nbsp;</li>
            <li><a href="#!/shipping_method">Shipping method</a>&nbsp;&gt;&nbsp;</li>
            <li><a href="#!/payment_method">Payment method</a></li>
        </ul>

        <h2>Shipping address</h2>
        <form id="information_input">
            <input type="text" class="half_input_information input_information" placeholder="First name">
            <input type="text" class="half_input_information input_information" placeholder="Last name">
            <input type="text" class="full_input_infotmation input_information" placeholder="E-mail">
            <input type="text" class="half_input_information input_information" placeholder="Country">
            <input type="text" class="half_input_information input_information" placeholder="Postal code">
            <input type="text" class="full_input_infotmation input_information" placeholder="City">
            <input type="text" class="full_input_infotmation input_information" placeholder="Region">
            <input type="text" class="full_input_infotmation input_information" placeholder="Street">
            <input type="text" class="half_input_information input_information" placeholder="Building number">
            <input type="text" class="half_input_information input_information" placeholder="Apartment">
        </form>
        <div class="step_footer">
            <a href="#!/cart" class="pink_basic">&lt;&nbsp;Return to cart</a>
            <a href="#!/shipping_method"><button>Continue to shipping method</button></a>

        </div>


    </div>
    <div class="cart_information_wrapper">
        <div class="product_cart_wrapper">
            <div class="product_cart_img">
                <img src="../img/cart1.jpg">
                <span>1</span>
            </div>
            <div class="product_cart_name">
                <p>Name</p>
                <p>Size</p>
            </div>
            <div class="product_cart_price">
                95$
            </div>
        </div>

        <div class="product_cart_wrapper">
            <div class="product_cart_img">
                <img src="../img/cart1.jpg">
                <span>1</span>
            </div>
            <div class="product_cart_name">
                <p>Name</p>
                <p>Size</p>
            </div>
            <div class="product_cart_price">
                95$
            </div>
        </div>

        <hr>

        <div class="total_container">
            <p>Total</p>
            <p>$150</p>
        </div>
    </div>
</div>
