<div class="header_slider">
    <div class="slide first_slide">
        <img src="img/image_slider1.jpg" alt="">

        <h1>Discover our new collection</h1>
        <button class="pink_button">Explore</button>

    </div>
    <div class="slide second_slide">
        <img src="img/image_slider2.jpg" alt="">
        <h1>New definition of style</h1>
        <button class="pink_button">Explore</button>
    </div>
</div>
<div class="welcome">
    <div class="welcome_img">
        <div></div>
        <p>Welcome to our store!</p>
    </div>
    <div class="welcome_text">
        <hr>
        <p>Confucius once said that <span>“everything has its beauty but not everyone sees it”</span>. This definitely does not apply to our range of tops and shirts!</p><br>
        <p>Our range of eco-friendly, nature inspired clothes is the result of countless hours of work. Made of high quality bamboo viscose, we believe that style should be accessible to anyone.</p>
    </div>
</div>
<div class="eco_friendly">
    <div></div>
    <p>Eco-friendly, nature inspired clothes you will love.</p>
</div>
<div class="category">
    <h2>Explore our products</h2>
    <div class="category_box">
        <h3>Woman Clothing</h3>
        <div class="boxes_category">
            <a href="#!/woman">
                <div pink-hover class="slider_block">
                    <img src="img/woman1.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Dresses</p>
                            <div class="button">Discover Dresses</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!/woman">
                <div pink-hover class="slider_block">
                    <img src="img/woman2.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Jumpsuits</p>
                            <div class="button">Discover Jumpsuits</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!/woman">
                <div pink-hover class="slider_block">
                    <img src="img/woman3.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Outerwear</p>
                            <div class="button">Discover Outerwear</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!/woman">
                <div pink-hover class="slider_block">
                    <img src="img/woman4.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Pants</p>
                            <div class="button">Discover Pants</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <h3>Man Clothing</h3>
        <div class="boxes_category">
            <a href="#!/man">
                <div pink-hover class="slider_block">
                    <img src="img/man1.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Denim</p>
                            <div class="button">Discover Denim</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!/man">
                <div pink-hover class="slider_block">
                    <img src="img/man2.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Knits</p>
                            <div class="button">Discover Knits</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!/man">
                <div pink-hover class="slider_block">
                    <img src="img/man3.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Bottom</p>
                            <div class="button">Discover Bottom</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#!/man">
                <div pink-hover class="slider_block">
                    <img src="img/man4.jpg" alt="">
                    <div class="category_name">
                        <div>
                            <p>Shirts</p>
                            <div class="button">Discover Shirts</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="welcome_loren">
    <div class="welcome_loren_box">
        <div class="text">
            <p><span>Welcome to Loren</span> <br> Our products are inspired by the people and world around us. Beautiful, high quality goods that are designed especially for you. Discover our story and meet the people that make our brand what it is.</p>
        </div>
        <div class="img"><img src="img/home_image1.jpg" alt=""></div>
    </div>
    <div class="welcome_loren_box1">
        <div class="img"><img src="img/home_image2.jpg" alt=""></div>
        <div class="text">
            <p>All our products are made using the finest materials and craftsmanship. Each product is packaged and delivered with care. Check out our FAQs for more questions on shipping, processing, and more.</p>
        </div>
    </div>
</div>

<div class="love_us">
    <h2>They love us!</h2>
    <div class="review_container">
        <div class="review_box">
            <div><img src="img/review1.jpeg" alt=""></div>
            <p>Julia B.</p>
            <p>I have ordered twice. I love their products. The quality is top-notch and their customer service has been tremenduous.</p>
        </div>
        <div class="review_box">
            <div><img src="img/review2.jpeg" alt=""></div>
            <p>Marina C.</p>
            <p>I absolutely LOVE this brand. All my friends were absolutely impressed by the quality of the fiber. I can't wait to buy again!</p>
        </div>
        <div class="review_box">
            <div><img src="img/review3.jpeg" alt=""></div>
            <p>Suzy R.</p>
            <p>I've heard about this brand from my friend. Not only the shopping experience is flawless, but their products are awesome.</p>
        </div>
    </div>
</div>
