<div class="login">
    <h1>LOGIN</h1>
    <div class="box-content">
        <form id="customer_login">
            <p class="form_instructions">Please enter your e-mail and password:</p>
            <div class="form_control">
                <input type="e-mail" class="form_input" required="required" placeholder="Email">
            </div>
            <div class="form_control">
                <input type="password" class="form_input" required="required" placeholder="Password">
            </div>
            <div class="box_button_wrapper">
                <a href="#!/"><button type="submit">Login</button></a>
            </div>
            <p class="register_link">
                Don't have an account?
                <a href="#!/registration">Register</a>
            </p>
        </form>
    </div>
</div>
