<div class="profile_container">
    <div class="head_profile">
        <h1>Account</h1>
        <button class="form_save">LogOut</button>
    </div>
    <form id="form_account">
        <div class="first_name_box">
            <label> 
					<p>First name</p>
					<input type="text" class="input name">
				</label>
        </div>

        <div class="last_name_box">
            <label> 
					<p>Last name</p>
					<input type="text" class="input name">
				</label>
        </div>

        <div class="form_contact">
            <label> 
					<p>E-mail</p>
					<input type="text" class="input all_label">
				</label>
        </div>

        <div class="form_contact">
            <label> 
					<p>Country</p>
					<input type="text" class="input all_label">
				</label>
        </div>

        <div class="form_contact">
            <label> 
					<p>City</p>
					<input type="text" class="input all_label">
				</label>
        </div>

        <div class="form_contact">
            <label> 
					<p>Region</p>
					<input type="text" class="input all_label">
				</label>
        </div>

        <div class="form_contact">
            <label>
                    <p>Street</p>
                    <input type="text" class="input all_label">
                </label>
        </div>

        <div class="form_contact">
            <label>
                    <p>Number of building</p>
                    <input type="text" class="input all_label">
                </label>
        </div>

        <div class="form_contact">
            <label>
                    <p>Apartment</p>
                    <input type="text" class="input all_label">
                </label>
        </div>

        <div class="form_contact">
            <label> 
					<p>Phone</p>
					<input type="text" class="input all_label">
				</label>
        </div>
        <input type="button" value="Save" class="form_save margin_auto">
    </form>
</div>
