<div class="registration_wrapper">
    <h1>Register</h1>
    <div class="form_wrapper">
        <p>Please enter information to create your account:</p>
        <form id="register_form">
            <input type="text" placeholder="First name" class="register_form_style" name="user_name" ng-model="name">
            <input type="text" placeholder="Last name" class="register_form_style" ng-model="lastname">
            <input type="email" placeholder="Email" class="register_form_style" ng-model="email">
            <input type="password" placeholder="Password" class="register_form_style" ng-model="password">
            <a href="#!/login"><input type="submit" value="Register" class="register_button" ng-click="reg()"></a>
        </form>
    </div>
</div>
