<div class="customer_information_wrapper">
    <div class="contact_information_wrapper">
        <div class="logo">
            <h3>Loren</h3>
        </div>
        <ul class="payment_links">
            <li><a href="#!/cart" class="pink_basic">Cart</a>&nbsp;&gt;&nbsp;</li>
            <li><a href="#!/customer_information" class="pink_basic">Customer information</a>&nbsp;&gt;&nbsp;</li>
            <li><a href="#!/shipping_method" class="pink_basic">Shipping method</a>&nbsp;&gt;&nbsp;</li>
            <li><a href="#!/payment_method">Payment method</a></li>
        </ul>
        <div class="content_box">
            <div class="row_box">
                <div class="contact_box">Contact</div>
                <div class="inf_box">E-mail</div>
                <div class="change_box"><a href="#!/customer_information">Change</a></div>
            </div>
            <hr>
            <div class="row_box">
                <div class="contact_box">Ship to</div>
                <div class="inf_box">Adress</div>
                <div class="change_box"><a href="#!/customer_information">Change</a></div>
            </div>
        </div>

        <h2>Shipping method</h2>
        <div class="content_box">
            <div class="row_box">
                <form class="form_posta">
                    <label class="container_radio">
                        <input type="radio" name="radio">NovaPosta
                        <span class="checkmark_radio"></span>
                    </label>
                    <p>30$</p>
                    <hr>
                    <label class="container_radio">
                        <input type="radio" name="radio">UkrPosta
                        <span class="checkmark_radio"></span>
                    </label>
                    <p>20$</p>
                </form>
            </div>
        </div>
        <div class="step_footer">
            <a href="#!/customer_information" class="pink_basic" id="next_step">&lt;&nbsp;Return to customer information</a>
            <a href="#!/payment_method"><button>Continue to payment method</button></a>
        </div>
    </div>
    <div class="cart_information_wrapper">
        <div class="product_cart_wrapper">
            <div class="product_cart_img">
                <img src="../img/cart1.jpg">
                <span>1</span>
            </div>
            <div class="product_cart_name">
                <p>Name</p>
                <p>Size</p>
            </div>
            <div class="product_cart_price">
                95$
            </div>
        </div>

        <div class="product_cart_wrapper">
            <div class="product_cart_img">
                <img src="../img/cart1.jpg">
                <span>1</span>
            </div>
            <div class="product_cart_name">
                <p>Name</p>
                <p>Size</p>
            </div>
            <div class="product_cart_price">
                95$
            </div>
        </div>

        <hr>

        <div class="total_container">
            <p>Total</p>
            <p>$150</p>
        </div>
    </div>
</div>
