<div class="single_product">
    <img ng-src="/img/{{single_product.image}}" alt="">
    <div class="description">
        <h3>{{single_product.brand}}</h3>
        <h1>{{single_product.name}}</h1>
        <h2>€{{single_product.price}}</h2>
        <h3>Size</h3>
        <ul class="size_block">
            <li class="product_size">
                <input id="size1" type="radio" name="size">
                <label class="product_size_label" for="size1">{{size.xs}}</label>
            </li>
            <li class="product_size">
                <input id="size2" type="radio" name="size">
                <label class="product_size_label" for="size2">{{size.s}}</label>
            </li>
            <li class="product_size">
                <input id="size3" type="radio" name="size">
                <label class="product_size_label" for="size3">{{size.m}}</label>
            </li>
            <li class="product_size">
                <input id="size4" type="radio" name="size">
                <label class="product_size_label" for="size4">{{size.l}}</label>
            </li>
            <li class="product_size">
                <input id="size5" type="radio" name="size">
                <label class="product_size_label" for="size5">{{size.xl}}</label>
            </li>
        </ul>
        <h3>Quantity</h3>
        <div class="quantity_block">
            <button ng-click="decreaseProduct()" class="decrease_product"><i class="fa fa-minus"></i></button>
            <span id="current_quantity">{{current_quantity}}</span>
            <button ng-click="increaseProduct()" class="increase_product"><i class="fa fa-plus"></i></button>
        </div>
        <a href="#!/cart"><button class="pink_button">Add to cart</button></a>
        <p>{{single_product.description}}</p>
    </div>
</div>
<div class="product_features">
    <div class="product_features_item">
        <div><i class="fa fa-heart" style="font-size:36px;"></i></div>
        <h3>HIGH QUALITY FIBER</h3>
        <p>All our products are made from high quality fiber, for a maximum confort.</p>
    </div>
    <div class="product_features_item">
        <div><i class="fa fa-pagelines" style="font-size:36px"></i>
        </div>
        <h3>HIGH QUALITY FIBER</h3>
        <p>All our products are made from high quality fiber, for a maximum confort.</p>
    </div>
    <div class="product_features_item">
        <div><i class="fa fa-paw" style="font-size:36px;"></i></div>
        <h3>HIGH QUALITY FIBER</h3>
        <p>All our products are made from high quality fiber, for a maximum confort.</p>
    </div>
</div>
